.menubar {
    width: 100%;
    min-width: fit-content;
    background-color: #1f2937;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

::deep li:hover {
    cursor: pointer;
}

::deep li:hover > ul,
::deep li:focus-within > ul {
    display: block;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}




