<div @onmouseleave="ClearAllExpandedItems" class="menubar" role="menubar">
    <CascadingValue Value="_menuState" Name="MenuStateTracker">
        <CascadingValue Name="IsTopMenu" Value="true" TValue="bool">
            <CascadingValue Name="Menu" Value="this" TValue="Menu" IsFixed="true">
                @ChildContent
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</div>